img {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(145, 100, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  line-break: auto;
  padding-top: 30px;
  margin: 0;
  gap: 40px;
  overflow-x: hidden;
  user-select: none;
}
@media (width < 550px) {
  body {
    padding-top: 0;
  }
}

.topPage {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(240, 225, 255);
  box-sizing: border-box;
  width: 90%;
  height: 400px;
  position: relative;
  border-radius: 40px 40px 0px 0px;
}
@media (width < 550px) {
  .topPage {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    height: 450px;
    border-radius: 0;
    background: whitesmoke;
  }
}
.topPage img {
  width: 10%;
  transition: 1.9s ease;
  pointer-events: none;
}
.topPage #top_kuromi {
  width: 30%;
  max-width: 270px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  transition: 0.5s ease;
  margin-bottom: 20px;
  animation: flying 2s linear infinite;
}
@media (width < 550px) {
  .topPage #top_kuromi {
    animation: none;
    width: 260px;
  }
}
@media (width > 550px) {
  .topPage #top_kuromi:hover {
    width: 290px;
  }
}
.topPage #JSlogo {
  display: block;
}
@media (width < 550px) {
  .topPage #JSlogo {
    display: none;
  }
}
.topPage h1 {
  font-size: 4cqw;
  font-family: Limelight;
  margin-right: 10px;
}
@media (width < 550px) {
  .topPage h1 {
    font-size: 6cqw;
    text-align: center;
    margin: 0;
  }
}
.topPage h1 span {
  color: rgb(220, 200, 0);
}
@media (width < 550px) {
  .topPage h1 span {
    font-size: 13cqw;
  }
}
.topPage .estagios {
  position: absolute;
  display: flex;
  bottom: 0px;
  gap: 20px;
  box-sizing: border-box;
  width: 90%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(145, 100, 180);
  border-radius: 10px;
  pointer-events: click;
}
@media (width < 550px) {
  .topPage .estagios {
    border-radius: 0px;
    overflow-x: auto;
    align-items: flex-start;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.topPage .estagios a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1cqw;
  color: rebeccapurple;
}
@media (width < 550px) {
  .topPage .estagios a {
    font-size: 3cqw;
    padding: 0;
    margin: 0;
    width: 160px;
    text-align: center;
  }
}
@media (width > 550px) {
  .topPage .estagios a:hover {
    background: rgb(220, 220, 220);
    padding-left: 13px;
    padding-right: 13px;
    transition: 0.2s;
  }
}

@keyframes flying {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
} /* #top_kuromi */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  position: relative;
  gap: 20px;
  border-radius: 20px;
}
@media (width < 550px) {
  main {
    border-radius: 0px;
    width: 100%;
  }
}
main #backgroundInMain {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
  pointer-events: none;
}
@media (width < 550px) {
  main #backgroundInMain {
    border-radius: 0;
  }
}
main section {
  box-sizing: border-box;
  margin: 30px;
  padding: 20px;
  background: ghostwhite;
  border-radius: 10px;
}
@media (width < 550px) {
  main section {
    border-radius: 0;
  }
}
main #sessao1 {
  font-family: sans-serif;
}
main #sessao1 h1, main #sessao1 h3, main #sessao1 a, main #sessao1 p {
  user-select: text;
}
main #sessao1 h1, main #sessao1 h3 {
  margin-bottom: 0;
}
main #sessao1 a {
  color: rebeccapurple;
}
main #sessao1 p {
  margin-top: 0;
}
@media (width < 500px) {
  main #sessao1 p {
    margin-top: 10px;
  }
}
main #sessao1 p {
  padding-bottom: 20px;
  text-indent: 7mm;
}
@media (width < 550px) {
  main #sessao1 {
    width: 95%;
  }
}
main #sessao2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-items: flex-start;
  gap: 20px;
  width: 80%;
  height: 750px;
  background: black;
  border: 20px solid rgb(245, 100, 255);
  border-block: dashed purple;
  color: whitesmoke;
  box-shadow: 0px 0px 50px black;
  position: relative;
  padding-top: 200px;
}
main #sessao2 h1 {
  font-family: sekuya;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  text-align: center;
  width: 100%;
}
main #sessao2 #kuromiGuitar {
  position: absolute;
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main #sessao2 article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(200, 200, 200);
  background: rgb(100, 0, 150);
  border-radius: 50px 0px 0px 0px;
  padding-left: 30px;
  transition: 0.9s ease;
}
main #sessao2 article span {
  color: orangered;
}
main #sessao2 article img {
  opacity: 1;
  transition: 0.2s ease;
  pointer-events: none;
}
main #sessao2 article h3 {
  font-family: bruno;
}
@media (width > 900px) {
  main #sessao2 article:hover {
    height: 240px;
    transition: 0.3s ease;
  }
  main #sessao2 article:hover img {
    opacity: 0.9;
    margin-top: 5px;
  }
}
@media (width < 900px) {
  main #sessao2 article:hover {
    background: rgb(120, 0, 150);
    transition: none;
  }
}
main #sessao2 article section {
  height: 160px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgb(100, 0, 150);
}
main #sessao2 article section p {
  padding-bottom: 30px;
  user-select: text;
}
main #sessao2 article section a {
  color: red;
  text-decoration: none;
  font-family: Verdana;
  background: mediumpurple;
  border-radius: 20px;
  border: 1px outset red;
  width: 100px;
  height: 80px;
  padding: 10px;
  margin-top: 20px;
}
main #sessao2 article section a:hover {
  color: antiquewhite;
  background: red;
  border: 1px inset red;
}
@media (width < 900px) {
  main #sessao2 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (width < 550px) {
  main #sessao2 {
    border-left: none;
    border-right: none;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 70px;
    width: 100%;
    height: 500px;
    padding-top: 90px;
  }
  main #sessao2 h1 {
    font-size: 20px;
  }
  main #sessao2 article {
    width: 100%;
    border-radius: 10px;
    transition: none;
  }
  main #sessao2 article:active {
    background: purple;
  }
}

footer {
  display: block;
  box-sizing: border-box;
  position: relative;
  gap: 0;
  padding-top: 20px;
  width: 100vw;
  background: rgb(145, 85, 165);
  overflow-x: auto;
  user-select: text;
}
footer li, footer ul, footer p, footer h3 {
  pointer-events: auto;
}
footer li {
  list-style: none;
}
footer article {
  width: 300px;
  height: 200px;
}
@media (width < 550px) {
  footer article {
    width: 100%;
  }
}
footer .creditos {
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (width < 550px) {
  footer .creditos {
    margin: 0;
  }
}
footer .copyrights {
  margin-top: 70px;
  text-align: center;
}
footer .copyrights hr {
  border-color: black;
  margin-bottom: 10px;
  width: 90%;
}
footer .copyrights p {
  font-size: 10px;
}
footer .mais {
  text-align: center;
}
footer .mais p {
  margin-top: -10px;
}
footer .desenho {
  margin-top: 10px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
footer .desenho img {
  width: 100px;
  pointer-events: none;
}
footer br {
  display: none;
}
@media (width < 550px) {
  footer {
    text-align: center;
    flex-wrap: wrap;
  }
  footer p, footer li, footer ul {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  footer li {
    padding-bottom: 10px;
  }
  footer h1, footer h3 {
    font-size: 14px;
  }
  footer br {
    display: block;
  }
  footer .mais {
    width: 100px;
  }
  footer .copyrights {
    height: 33px;
  }
}

/*# sourceMappingURL=style.css.map */
